<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Psych Chat</title>
</head>

<body>
    <div class="navbar">
        <img class="logo" src="static/logo.png" alt="logo">
        <a class="nav-item" href="/home"><button>Home</button></a>
        <a class="nav-item" href="/chatbot"><button>ChatBot</button></a>
        <a class="nav-item" href="/resources"><button>Resources</button></a>
    </div>
    <div class="main">
        {% block main %}

        {% endblock main %}
    </div>
</body>

</html>
